In [24]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:13pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
</style>
"""))

<font size="5" color="red">ch03. 데이터구조</font>
- 리스트[]수정가능, 튜플()수정불가, 딕셔너리{}, 셋

# 1절. 리스트
## 1.1 리스트 만들기

 - []을 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
 - list(리스트로 변혼 가능한 자료)함수 이용도 가능 exlist(10,2) 사용불가
 - 인덱스 : 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1
 - 슬라이싱( [from:stop:step] ) : 부분 데이터셋 추출
 - 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [5]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [7]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [10]:
fruits[0] = 'mango'
print(fruits[0])

mango

In [17]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print(f'z={z}')
print('z={}'.format(z))
print(f'fruits = {fruits}',sep='')

x=mango
y=apple
z=orange
z=orange
fruits = ['mango', 'apple', 'orange']

In [18]:
fruits = ['mango', 'apple', 'orange', 333] # 수가 같아야한다
x, y, z = fruits

ValueError: too many values to unpack (expected 3)

In [21]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하면서 지전된 범위의 정수
        # from 생략시 : 0
        # by 생략시 : 1
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
range(0, 10)

range(0, 10)

In [20]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [26]:
# 반복문(3회)
for i in [0, 1, 2]:
    print(i)

0
1
2

In [28]:
# 반복문(3회)
for i in range(3):
    print(i)

0
1
2

In [72]:
fruits = ['mango', 'apple', 'orange']
for i in range(3):
    print(fruits[i])

mango
apple
orange

In [38]:
fruits = ['mango', 'apple', 'orange']
for i in range(3):
    print("{}번째 과일은 {}입니다".format(i, fruits[i]))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다

In [39]:
fruits = ['mango', 'apple', 'orange', 'grage']
for i in range(3):# <-마지막 인덱스 + 1
    print("{}번째 과일은 {}입니다".format(i, fruits[i]))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다

In [40]:
fruits = ['mango', 'apple', 'orange', 'grage']
# len(fruits) : 리스트 데이터 수
for i in range(len(fruits)):
    print("{}번째 과일은 {}입니다".format(i, fruits[i]))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grage입니다

In [42]:
fruits = ['mango', 'apple', 'orange', 'grape']
# 인덱스 생략형
for value in fruits:
    print(value)

mango
apple
orange
grape

In [ ]:
i, v = [1, 'mango']
print()

In [46]:
# enumerate(나열가능한 자료) : -> (index,값)들의 셋들
for idx, value in enumerate(fruits): # <- [0, 'mango'], [1, 'apple'], [2, 'orange'], [3, 'geape']:
    print("{}번째 과일은 {}입니다".format(idx, value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [44]:
for idx, value in [0, 'mango'], [1, 'apple'], [2, 'orange'], [3, 'geape']:
    print("{}번째 과일은 {}입니다".format(idx, value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 geape입니다

In [47]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [57]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, '2', 3, [4,5,6] ]
print(numbers)
print(numbers[1])
print(numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True
5

In [86]:
# 2차원 리스트
numbers_2d = [[90, 91, 92, 93],[80, 81, 92, 83],[70, 71, 72, 73],[60, 1, 5, 7],]
len(numbers_2d), len(numbers_2d[0])

(4, 4)

In [64]:
for idx, row in enumerate(numbers_2d):
    print(idx, row)

0 [90, 91, 92, 93]
1 [80, 81, 92, 83]
2 [70, 71, 72, 73]
3 [60, 1, 5, 7]

In [65]:
for i, row in enumerate(numbers_2d):
    for j, value in enumerate(row):
        print("{}행{}열:{}".format(i, j, value))

0행0열:90
0행1열:91
0행2열:92
0행3열:93
1행0열:80
1행1열:81
1행2열:92
1행3열:83
2행0열:70
2행1열:71
2행2열:72
2행3열:73
3행0열:60
3행1열:1
3행2열:5
3행3열:7

In [68]:
for i, row in enumerate(numbers_2d):
    for j, value in enumerate(row):
        print("{}행{}열:{}".format(i, j, value), end='\t')

0행0열:90	0행1열:91	0행2열:92	0행3열:93	1행0열:80	1행1열:81	1행2열:92	1행3열:83	2행0열:70	2행1열:71	2행2열:72	2행3열:73	3행0열:60	3행1열:1	3행2열:5	3행3열:7

In [69]:
for i, row in enumerate(numbers_2d):
    for j, value in enumerate(row):
        print("{}행{}열:{}".format(i, j, value), end='\t')
    print() # 개행

0행0열:90	0행1열:91	0행2열:92	0행3열:93
1행0열:80	1행1열:81	1행2열:92	1행3열:83
2행0열:70	2행1열:71	2행2열:72	2행3열:73
3행0열:60	3행1열:1	3행2열:5	3행3열:7

In [88]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

90	91	92	93
80	81	92	83
70	71	72	73
60	1	5	7

## 1.2 기본 정보 조회

In [89]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100, 0], 
              [9, 100, 1, 2, 3], 
              [50, 54]]

In [90]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [93]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [95]:
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작은 값
#             max() : 0번 인덱스의 요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [97]:
# 문자 list일 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [101]:
numbers = [1, 12, 3, 5, 4]
# 정렬(오름차순, 내림차순)
print('오름차순 :', sorted(numbers))
print('내림차순 :', sorted(numbers,reverse=True))
print('sorted함수 사용시 리스트 내용리 바뀌지 않음 :', numbers)
print('합 :', sum(numbers))

오름차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted함수 사용시 리스트 내용리 바뀌지 않음 : [1, 12, 3, 5, 4]
합 : 25

## 1.3 요소 추가
```
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복
append() : 리스트 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가 (기본 데이터는 shift)
```

In [2]:
# 연결
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [3]:
# 반복
numbers = [1, 2, 3]
numbers = numbers * 2
numbers =

[1, 2, 3, 1, 2, 3]

In [4]:
# 추가
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [9]:
numbers.append([4,5,6]) # 맨 뒤에 하나의 요소로 추가
print(numbers)

[1, 2, 3, 4, [4, 5, 6], [4, 5, 6]]

In [8]:
# 요소별로 각각 추가
num = [1, 2, 3]
num.extend([4,5,6])
print(num)

[1, 2, 3, 4, 5, 6]

In [12]:
# 중간에 요소를 추가
num.insert(2, 'x')
print(num)

[1, 2, 'x', 'x', 3, 4, 5, 6]

In [14]:
del(num[2])
print(num)

[1, 2, 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
                    찾을 데이터가 없을 경우 오류
- count(찾을데이터) : 리스트에서 찾을 데이터의 갯수 반환

In [17]:
numbers = [1, 2, 3,(1, 2, 3), 1, 2, 3]
numbers.count(2), numbers.count(9)

(2, 0)

In [18]:
numbers.index(2) #0번재 index부터 2가 처음 나오는 index를 반환

1

In [19]:
numbers.index(2, 3) # 3번째 index부터 2가 나오는 index를 반환

5

In [20]:
numbers.index(1, 2)

4

In [30]:
# numbers.index(9)
# numbers(20)

TypeError: 'list' object is not callable

In [22]:
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 없어요')

9가 없어요

In [23]:
9 in numbers # numbers 리스트에 9가 존재하는지 여부

False

In [25]:
def safe_index(lst, date):
    if date in lst: # lst안에 date가 있는지 여부
        return lst.index(date)
    else:
        return -1

In [29]:
safe_index(numbers, 9)

-1

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 :  리스트에서 원하는 index의 데이터를 추출(인덱스 범위 벗어나도 에러 안 남)
    - [from:stop:step] from 부터 stop 앞까지 step씩 증가한ㄴ index의 값을 추출
    - from 생략시 처음. stop 생략시 끝. step 생략시 1. 모두 생략 가능
    - 음수 인덱스 가능
    
2. <font color='red'> 리스트 컴프리헨션(list comprehension)</font> : 리스트에서 원하는 데이터를 추출

In [33]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 짝수번째 인덱스 값 출력
print(numbers[::2])
# 꺼꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [34]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 리스트에서 짝수 데이터만 변수에  담아 출력하시오.
result = []
for date in numbers:
    if date%2==0: # if not date%2:
        result.append(date)
print(result)

[10, 12, 20]

In [36]:
# 리스트에서 모든 데이터를 변수에 담아 출력하시오.
result = []
for date in numbers:
    result.append(date)
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]

### 리스트컴프이리헨션

In [37]:
# numbers의 모든 데이터를 리스트컴프리헨션으로 추출
[date for date in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [38]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[date for date in numbers if date%2==0]

[10, 12, 20]

### 연습문제

In [50]:
# ex1. numbers에서 10이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
[ten for ten in numbers if ten>9]

[10, 12, 13, 20]

In [51]:
# ex2.fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>5]

['orange']

In [56]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[item**2 for item in L if item>=3]

[9, 16, 25]

## 1.6 요소 수정하기

In [67]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 인덱스를 이용해서 요소 수정
numbers[2]=222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [70]:
# 슬라이싱을 이용해서 요소 수정 (step 부분이 미포함 : 부분 리스트가 통째로 수정)
numbers[1:4] = ['x', 'y', 'z', 'ㅋ', 'ㅎ']
numbers

[0, 'x', 'y', 'z', 'ㅋ', 'ㅎ', 4, 5, 6, 7, 8, 9]

In [69]:
numbers[1:4] = ['x']
numbers

[0, 'x', 'ㅋ', 'ㅎ', 4, 5, 6, 7, 8, 9]

In [72]:
# 슬라이싱을 이용해서 요소 수정(step부분 포함 : 요소 갯수가 맞아야 함)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = ['x', 'y', 'z', 'w', '9']
numbers

['x', 1, 'y', 3, 'z', 5, 'w', 7, '9', 9]

In [74]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = ['x']*5
numbers

['x', 1, 'x', 3, 'x', 5, 'x', 7, 'x', 9]

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(지울date) : 리스트만의 date가 삭제
- del 변수[idx] : idx번째 요소가 삭제

In [79]:
numbers = [1, 2, 3, 4, 5]
delate_date = numbers.pop()
print("삭제된 데이터는 : {}, 리스트 : {}".format(delate_date, numbers))

삭제된 데이터는 : 5, 리스트 : [1, 2, 3, 4]

In [80]:
delate_date2 = numbers.pop(0)
print("삭제된 데이터는 : {}, 리스트 : {}".format(delate_date2, numbers))

삭제된 데이터는 : 1, 리스트 : [2, 3, 4]

In [81]:
numbers = [1, 2, 3, 4, 5]
del numbers[2]
print('numbers : ', numbers)

numbers :  [1, 2, 4, 5]

In [86]:
numbers = [1, 2, 3, 4, 5]
# remove()는 반환값이 없고, 데이터만 삭제, 해당 데이터가 없으면 오류
numbers.remove(3)
print(del_num)
print(numbers)

None
[1, 2, 4, 5]

In [87]:
numbers.remove(9)

ValueError: list.remove(x): x not in list

In [88]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터가 없습니다')

해당 데이터가 없습니다

In [89]:
def safe_remove(lst, remove_date):
    if remove_date in lst:
        lst.remove(remove_date)
        print(remove_date, '삭제 완료')
    else:
        print(f'{remove_date}는 없는 아이템입니다')

In [92]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)

9는 없는 아이템입니다
5 삭제 완료

In [93]:
numbers

[1, 2, 4]

## 1.8 복제하기