In [24]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size="5" color="red">ch05. 함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것)불가
- 함수 정의
```
def 함수명([매개변수1, ... 매개변수n]):
    명령어1
    명령어2
    명령어n
   
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [9]:
# 함수 정의
def hello():
    for i in range(5):
        print('Hello')

In [11]:
# 함수 사용
hello()

Hello
Hello
Hello
Hello
Hello

In [3]:
# 함수 정의
def my_message(x, msg): # msg를 x번 출력하는 함수
#     x = 5
#     msg = 'hello'
    for i in range(x):
        print(msg)

In [20]:
my_message(5, 'hello')

hello
hello
hello
hello
hello

In [4]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [23]:
type(my_msg), type(my_message)

(function, function)

In [2]:
print('Hello') # 파이썬 내장 함수(import 하지 않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [6]:
my_message(2, 'Hello')

Hello
Hello

In [7]:
my_message = 5

In [8]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [9]:
del my_message
# 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

In [10]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [9]:
# 함수 정의 : 4월 16일 (수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cut):
    for i in range(cut):
        print('Hello, Python')
        print('Hello, World')

In [12]:
# 함수사용 - 함수호출
my_hello(0)

In [13]:
my_hello

In [14]:
__name__

'__main__'

In [15]:
if __name__=='__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [2]:
import ch05  # ch05 모듈을 load
ch05.my_hello(3)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

In [3]:
from ch05 import my_hello  # ch05 모듈안에 my_hello load

In [4]:
my_hello(3)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [10]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역활
    주석보다 많은 기능(shift+tap으로 독스트링을 볼 수 있음)
    '''
    pass

In [8]:
my_function()

In [11]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역활
    주석보다 많은 기능(shift+tap으로 독스트링을 볼 수 있음)

In [12]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [14]:
fibonacci(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [17]:
a, b

NameError: name 'a' is not defined

In [16]:
x

10

## 1.3 지역변수(local var)와 전역변수(global var)

In [19]:
global_var = 100 # 전연변수
def funcl():
    print('함수안 :', global_var)
funcl()
print('함수 밖 : ', global_var)

함수안 : 100
함수 밖 :  100

In [26]:
def funcl2():
    local_var = 200 # 지역변수
    print('함수 안 : ', local_var)
funcl2()
print('함수 밖 : ', local_var)

함수 안 :  200

NameError: name 'local_var' is not defined

In [28]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수 (변수 선언과 할당)
    print('함수 안(지역변수 g_var) : ', g_var)
func3()
print('함수 밖(전역변수 g_var) : ', g_var)

함수 안(지역변수 g_var) :  200
함수 밖(전역변수 g_var) :  100

In [29]:
# 렉시컬 특성
g_var = 100 #전연변수
def func4():
    print('함수 안 g_var', g_var)
    g_var = 200 #지역변수

In [31]:
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [35]:
# 렉시컬 특성
g_var = 100 #전연변수
def func4():
    global g_var # func4 함수내의 g_var는 전연변수를 쓴다
    print('함수 안 g_var', g_var)
    g_var = 200 #지역변수 -> 전역변수
func4()
print('함수 밖에 g-var :', g_var)

함수 안 g_var 100
함수 밖에 g-var : 200

# 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [39]:
foo = 'a'
id(foo)

2356444358448

In [56]:
def func1(f): # 매개변수 f는 지역변수
    print('Before :', f, 'id(f) : ', id(f))
    f = f*3
    print('After :', f, 'id(f) : ', id(f))
func1(foo)

Before : a id(f) :  2356444358448
After : aaa id(f) :  2356559985392

In [57]:
print(foo, id(foo))

a 2356444358448

# 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우

In [44]:
L = [1, 2, 3]
id(L)

2356560128896

In [58]:
def func2(f): # 매개변수는 지역변수
    print('Before : ', f, id(f))
    f.append(4)
    print('After :', f, id(f))
func2(L)

Before :  [1, 2, 3, 4, 4, 4, 4, 4, 4] 2356560128896
After : [1, 2, 3, 4, 4, 4, 4, 4, 4, 4] 2356560128896

In [60]:
print('L=', L, id(L))

L= [1, 2, 3, 4, 4, 4, 4, 4, 4, 4] 2356560128896

# 2절. 함수의 실행결과를 반환하는 return

In [61]:
def add(x, y):
    return x + y

In [65]:
i = 2; j = 3
add(i, j)

5

In [66]:
def add():
    return True

In [67]:
add()

True

In [68]:
def add(a):
    pass

In [70]:
print(add(10))

None

In [73]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10이면 0 1 1 2 3 5 8을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면 0 1 1 2 3 5 8을 return
    '''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [72]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [74]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [75]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [78]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y={y} ')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y={y} ')

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [85]:
def make_url(ip, port=80): # 순서인수 > 기본값을갖는매개변수
    return "http://{}:{}".format(ip, port)

In [89]:
print(make_url('www.naver.com'))
print(make_url('localhost',8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

In [90]:
# 잘 못 된 함수
# def make_url(port=80, ip):
#     return "http://{}:{}".format(ip, port)

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 드의 객체일 때

In [93]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg = i):
    print('arg = ', arg)

In [95]:
i = 50
func2()

arg =  5

In [105]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조)일 때 arg의 기본값은 호출되는 시점의 값
def func3(date, L = list_):
    'date를 L에 append'
    L.append(date)
    return L

In [106]:
print(func3(10)) # lsit_가 수정 : [10]

[10]

In [107]:
print(func3(20))

[10, 20]

In [108]:
list_

[10, 20]

In [133]:
def func4(date, L=None): 
    if L==None:
        L = []
    L.append(date)
    return L

In [134]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다
def add(a, b):
    return a+b
def add(a+b+c):
    return a+b+c

In [ ]:
add(1,2,3,4)

In [118]:
# *args : 매개변수들을 하나의 튜플 변수 aegs로 전달 받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print('args = ', args)
    result_tot = 0 # 누적변수
    for date in args:
        result_tot += date
    return result_tot

In [119]:
print(add(1))
print(add(1, 2))
print(add(1, 2, 3, 4, 5, 6, 7))

1
3
28

In [121]:
suvject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(suvject)

'Python/Oracle/DL/ML'

In [122]:
def concat(*suvject, sep):
    return sep.join(suvject)

In [124]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [126]:
# 해결책 1 : 매개변수 이름을 지정해서 호풀
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [3]:
# 해결책 2 : 기본값을 갖는 반드시 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [4]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [7]:
print('Python', 'Oracle', 'DL', 'ML', sep=' / ')

Python / Oracle / DL / ML

In [8]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concet(sep, *suvject):
    return sep.join(suvject)

In [9]:
concat('Python', 'Oracle', 'DL')

'Python ~ Oracle ~ DL'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [17]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [18]:
func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [21]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름반드시명시) > 딕셔너리매개변수(**)

In [28]:
def func6(a, b, *c, **d):
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('딕셔너리 인수 d : ', d)

In [29]:
func6(10,20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d :  {'name': '홍길동', 'age': 30, 'address': '서울'}

In [31]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('키원드인수(기본값을 갖는 인수, 호풀시 매개변수명 반드시 명시) 인수 d : ', d)
    print('딕셔너리인수 e : ', e)

In [32]:
func7(10, 20, 1, 2, 3, d='딴거', name='홍길동', fontsize=12, fortfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3)
키원드인수(기본값을 갖는 인수, 호풀시 매개변수명 반드시 명시) 인수 d :  딴거
딕셔너리인수 e :  {'name': '홍길동', 'fontsize': 12, 'fortfamily': 'consola'}

In [33]:
func7(10, 20, 1, 2, 3, '딴거', name='홍길동', fontsize=12, fortfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, '딴거')
키원드인수(기본값을 갖는 인수, 호풀시 매개변수명 반드시 명시) 인수 d :  기본값
딕셔너리인수 e :  {'name': '홍길동', 'fontsize': 12, 'fortfamily': 'consola'}

## 3.6 인수의 언팩킹
### 튜플인수 언팩킹
- 언패킹 : 함수 호출시 매개변수앞에 *붙음
- 패킹 : 함수 정의시 매개변수 앞에 * 붙음(튜플매개변수)

In [37]:
def add(*arge):
    print(arge)
    tot = 0
    for num in arge:
        tot += num
    return tot

In [35]:
add(1, 2, 3, 4)

10

In [40]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [41]:
numbers = (1, 2, 3, 4)
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 언패킹 : 함수 호출시 매개변수앞에 ** 붙음(딕셔너리를 언패킹)
- 패킹 : 함수 정의시 매개변수 앞에 ** 붙음

In [49]:
def func5(**date):
    print(type(date))
    for key, item in date.items():
        print(f'{key}:{item}')

In [50]:
func5(name='홍길동', age=30, address='신림동')

<class 'dict'>
name:홍길동
age:30
address:신림동

In [52]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return  한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [53]:
def add(a, b):
    return a+b
add(3, 4)

7

In [54]:
add2 = lambda a, b : a+b
add2(3, 4)

7

In [56]:
type(add), type(add2)

(function, function)

In [57]:
(lambda a, b : a+b)(3, 4)

7

In [1]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num%2:
#         result = '홀수'
#     else:
#         result = '짝수'
    return '홀수'if num%2 else '짝수'
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(10), ex1(-9)

('짝수', '홀수')

In [6]:
# ex2. 두 매개변수로의 차이를 return 
def diff(a, b):
#     if a>b:
#         result = a-b
#     else:
#         result = b-a
    result = a-b if a>b else b-a
    return result
diff(2, 1), diff(10, 20)

(1, 10)

In [8]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2,1), ex2(10, 20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [4]:
# ex2. 두 매개변수로의 차이를 return 
def ex2(*num):
    lst = 0
    for date in num:
        lst -= date
    return(lst)
ex2(5, 3)

-8

In [9]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda money : money if money>0 else 'negative'
ex3(1000), ex3(-500)

(1000, 'negative')

In [11]:
# ex4. 점수를 입력받아 점수가 80점 이상이면 A팀, 
#      60점 이상은 B팀, 60점 미만은 재시험, 
#      그외는 유효하지 않음
ex4 = lambda score : 'A팀' if 80<=score<=100 else \
                    'B팀' if 60<=score<80 else \
                    '재시험' if 0<=score<60 else \
                    '유효하지 않음'
ex4(120), ex4(85), ex4(70), ex4(50)

('유효하지 않음', 'A팀', 'B팀', '재시험')

In [12]:
# ex5. safe_index를 람다식으로
def safe_index(vector, date):
    if date in vector: # lst안에 date가 있는지 여부
        return vector.index(date)
    else:
        return -1

In [13]:
ex5 = lambda vector, date : vector.index(date) if date in vector else -1
tup = (1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)