In [29]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="5" color="red">ch05. 함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것)불가
- 함수 정의
```
def 함수명([매개변수1, ... 매개변수n]):
    명령어1
    명령어2
    명령어n
   
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [9]:
# 함수 정의
def hello():
    for i in range(5):
        print('Hello')

In [11]:
# 함수 사용
hello()

Hello
Hello
Hello
Hello
Hello

In [3]:
# 함수 정의
def my_message(x, msg): # msg를 x번 출력하는 함수
#     x = 5
#     msg = 'hello'
    for i in range(x):
        print(msg)

In [20]:
my_message(5, 'hello')

hello
hello
hello
hello
hello

In [4]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [23]:
type(my_msg), type(my_message)

(function, function)

In [2]:
print('Hello') # 파이썬 내장 함수(import 하지 않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [6]:
my_message(2, 'Hello')

Hello
Hello

In [7]:
my_message = 5

In [8]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [9]:
del my_message
# 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

In [10]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [9]:
# 함수 정의 : 4월 16일 (수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cut):
    for i in range(cut):
        print('Hello, Python')
        print('Hello, World')

In [12]:
# 함수사용 - 함수호출
my_hello(0)

In [13]:
my_hello

In [14]:
__name__

'__main__'

In [15]:
if __name__=='__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [2]:
import ch05  # ch05 모듈을 load
ch05.my_hello(3)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

In [3]:
from ch05 import my_hello  # ch05 모듈안에 my_hello load

In [4]:
my_hello(3)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [10]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역활
    주석보다 많은 기능(shift+tap으로 독스트링을 볼 수 있음)
    '''
    pass

In [8]:
my_function()

In [11]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역활
    주석보다 많은 기능(shift+tap으로 독스트링을 볼 수 있음)

In [12]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [14]:
fibonacci(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [17]:
a, b

NameError: name 'a' is not defined

In [16]:
x

10

## 1.3 지역변수(local var)와 전역변수(global var)

In [19]:
global_var = 100 # 전연변수
def funcl():
    print('함수안 :', global_var)
funcl()
print('함수 밖 : ', global_var)

함수안 : 100
함수 밖 :  100

In [26]:
def funcl2():
    local_var = 200 # 지역변수
    print('함수 안 : ', local_var)
funcl2()
print('함수 밖 : ', local_var)

함수 안 :  200

NameError: name 'local_var' is not defined

In [28]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수 (변수 선언과 할당)
    print('함수 안(지역변수 g_var) : ', g_var)
func3()
print('함수 밖(전역변수 g_var) : ', g_var)

함수 안(지역변수 g_var) :  200
함수 밖(전역변수 g_var) :  100

In [29]:
# 렉시컬 특성
g_var = 100 #전연변수
def func4():
    print('함수 안 g_var', g_var)
    g_var = 200 #지역변수

In [31]:
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [35]:
# 렉시컬 특성
g_var = 100 #전연변수
def func4():
    global g_var # func4 함수내의 g_var는 전연변수를 쓴다
    print('함수 안 g_var', g_var)
    g_var = 200 #지역변수 -> 전역변수
func4()
print('함수 밖에 g-var :', g_var)

함수 안 g_var 100
함수 밖에 g-var : 200

# 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [39]:
foo = 'a'
id(foo)

2356444358448

In [56]:
def func1(f): # 매개변수 f는 지역변수
    print('Before :', f, 'id(f) : ', id(f))
    f = f*3
    print('After :', f, 'id(f) : ', id(f))
func1(foo)

Before : a id(f) :  2356444358448
After : aaa id(f) :  2356559985392

In [57]:
print(foo, id(foo))

a 2356444358448

# 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우

In [44]:
L = [1, 2, 3]
id(L)

2356560128896

In [58]:
def func2(f): # 매개변수는 지역변수
    print('Before : ', f, id(f))
    f.append(4)
    print('After :', f, id(f))
func2(L)

Before :  [1, 2, 3, 4, 4, 4, 4, 4, 4] 2356560128896
After : [1, 2, 3, 4, 4, 4, 4, 4, 4, 4] 2356560128896

In [60]:
print('L=', L, id(L))

L= [1, 2, 3, 4, 4, 4, 4, 4, 4, 4] 2356560128896

# 2절. 함수의 실행결과를 반환하는 return

In [61]:
def add(x, y):
    return x + y

In [65]:
i = 2; j = 3
add(i, j)

5

In [66]:
def add():
    return True

In [67]:
add()

True

In [68]:
def add(a):
    pass

In [70]:
print(add(10))

None

In [73]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10이면 0 1 1 2 3 5 8을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면 0 1 1 2 3 5 8을 return
    '''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [72]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [74]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [75]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [78]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y={y} ')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y={y} ')

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [85]:
def make_url(ip, port=80): # 순서인수 > 기본값을갖는매개변수
    return "http://{}:{}".format(ip, port)

In [89]:
print(make_url('www.naver.com'))
print(make_url('localhost',8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

In [90]:
# 잘 못 된 함수
# def make_url(port=80, ip):
#     return "http://{}:{}".format(ip, port)

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 드의 객체일 때

In [93]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg = i):
    print('arg = ', arg)

In [95]:
i = 50
func2()

arg =  5

In [105]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조)일 때 arg의 기본값은 호출되는 시점의 값
def func3(date, L = list_):
    'date를 L에 append'
    L.append(date)
    return L

In [106]:
print(func3(10)) # lsit_가 수정 : [10]

[10]

In [107]:
print(func3(20))

[10, 20]

In [108]:
list_

[10, 20]

In [133]:
def func4(date, L=None): 
    if L==None:
        L = []
    L.append(date)
    return L

In [134]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다
def add(a, b):
    return a+b
def add(a+b+c):
    return a+b+c

In [ ]:
add(1,2,3,4)

In [118]:
# *args : 매개변수들을 하나의 튜플 변수 aegs로 전달 받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print('args = ', args)
    result_tot = 0 # 누적변수
    for date in args:
        result_tot += date
    return result_tot

In [119]:
print(add(1))
print(add(1, 2))
print(add(1, 2, 3, 4, 5, 6, 7))

1
3
28

In [121]:
suvject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(suvject)

'Python/Oracle/DL/ML'

In [122]:
def concat(*suvject, sep):
    return sep.join(suvject)

In [124]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [126]:
# 해결책 1 : 매개변수 이름을 지정해서 호풀
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [3]:
# 해결책 2 : 기본값을 갖는 반드시 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [4]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [7]:
print('Python', 'Oracle', 'DL', 'ML', sep=' / ')

Python / Oracle / DL / ML

In [8]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concet(sep, *suvject):
    return sep.join(suvject)

In [9]:
concat('Python', 'Oracle', 'DL')

'Python ~ Oracle ~ DL'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [17]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [18]:
func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [21]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름반드시명시) > 딕셔너리매개변수(**)

In [28]:
def func6(a, b, *c, **d):
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('딕셔너리 인수 d : ', d)

In [29]:
func6(10,20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d :  {'name': '홍길동', 'age': 30, 'address': '서울'}

In [31]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('키원드인수(기본값을 갖는 인수, 호풀시 매개변수명 반드시 명시) 인수 d : ', d)
    print('딕셔너리인수 e : ', e)

In [32]:
func7(10, 20, 1, 2, 3, d='딴거', name='홍길동', fontsize=12, fortfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3)
키원드인수(기본값을 갖는 인수, 호풀시 매개변수명 반드시 명시) 인수 d :  딴거
딕셔너리인수 e :  {'name': '홍길동', 'fontsize': 12, 'fortfamily': 'consola'}

In [33]:
func7(10, 20, 1, 2, 3, '딴거', name='홍길동', fontsize=12, fortfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, '딴거')
키원드인수(기본값을 갖는 인수, 호풀시 매개변수명 반드시 명시) 인수 d :  기본값
딕셔너리인수 e :  {'name': '홍길동', 'fontsize': 12, 'fortfamily': 'consola'}

## 3.6 인수의 언팩킹
### 튜플인수 언팩킹
- 언패킹 : 함수 호출시 매개변수앞에 *붙음
- 패킹 : 함수 정의시 매개변수 앞에 * 붙음(튜플매개변수)

In [37]:
def add(*arge):
    print(arge)
    tot = 0
    for num in arge:
        tot += num
    return tot

In [35]:
add(1, 2, 3, 4)

10

In [40]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [41]:
numbers = (1, 2, 3, 4)
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 언패킹 : 함수 호출시 매개변수앞에 ** 붙음(딕셔너리를 언패킹)
- 패킹 : 함수 정의시 매개변수 앞에 ** 붙음

In [49]:
def func5(**date):
    print(type(date))
    for key, item in date.items():
        print(f'{key}:{item}')

In [50]:
func5(name='홍길동', age=30, address='신림동')

<class 'dict'>
name:홍길동
age:30
address:신림동

In [52]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return  한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [53]:
def add(a, b):
    return a+b
add(3, 4)

7

In [54]:
add2 = lambda a, b : a+b
add2(3, 4)

7

In [56]:
type(add), type(add2)

(function, function)

In [57]:
(lambda a, b : a+b)(3, 4)

7

In [1]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num%2:
#         result = '홀수'
#     else:
#         result = '짝수'
    return '홀수'if num%2 else '짝수'
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(10), ex1(-9)

('짝수', '홀수')

In [6]:
# ex2. 두 매개변수로의 차이를 return 
def diff(a, b):
#     if a>b:
#         result = a-b
#     else:
#         result = b-a
    result = a-b if a>b else b-a
    return result
diff(2, 1), diff(10, 20)

(1, 10)

In [8]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2,1), ex2(10, 20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [4]:
# ex2. 두 매개변수로의 차이를 return 
def ex2(*num):
    lst = 0
    for date in num:
        lst -= date
    return(lst)
ex2(5, 3)

-8

In [9]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda money : money if money>0 else 'negative'
ex3(1000), ex3(-500)

(1000, 'negative')

In [11]:
# ex4. 점수를 입력받아 점수가 80점 이상이면 A팀, 
#      60점 이상은 B팀, 60점 미만은 재시험, 
#      그외는 유효하지 않음
ex4 = lambda score : 'A팀' if 80<=score<=100 else \
                    'B팀' if 60<=score<80 else \
                    '재시험' if 0<=score<60 else \
                    '유효하지 않음'
ex4(120), ex4(85), ex4(70), ex4(50)

('유효하지 않음', 'A팀', 'B팀', '재시험')

In [12]:
# ex5. safe_index를 람다식으로
def safe_index(vector, date):
    if date in vector: # lst안에 date가 있는지 여부
        return vector.index(date)
    else:
        return -1

In [13]:
ex5 = lambda vector, date : vector.index(date) if date in vector else -1
tup = (1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)

## 4.2  함수의 매개변수에 람다식 이용
          함수의 return값으로 람다식 이용
### (1) map

In [2]:
def map_template(func, L=[]):
    '''
    'L의 모든 요솔ㄹ func()함수를 적용시켜 return'
    [func(l) for l in L]
    '''
    result = []
    for l in L:
        result.append(func(l))
    return result
#     return [func(l) for l in L]

In [4]:
# 리스트 데이터를 가공 방법 1. map_template
list_date = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map_template(lambda x : x*2, list_date)
# def x_2(x):
#     return x*2
# map_template(x_2, list_date)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_date]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
# 리스트 데이터를 가공 방법 3. map():파이썬 내장함수
list(map(lambda x : x*2, list_date))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
for itme in map(lambda x : x*2, list_date):
    print(itme, end=' ')

2 4 6 8 10 12 14 16 18 20

In [21]:
'''
예 1. [5000,800,1000,6000]로 바꾸시오
'''
prices = ['5,000', '800', '1000', '6,000']
num = list(map(lambda x : int(x.replace(',','')) , prices))
print(num)

[5000, 800, 1000, 6000]

In [26]:
def func(x):
    return int(x.replace(',',''))
func('5,000'), func('1800')

(5000, 1800)

In [27]:
list(map(lambda x : int(x.replace(',','')) , prices))

[5000, 800, 1000, 6000]

In [15]:
# 설명서
str_nums = ['10', '20', '30']
int_nums = list(map(int, str_nums))
print(int_nums)  # 출력: [10, 20, 30]

[10, 20, 30]

In [77]:
'''
예2. members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'}]를
    members2 = [{'name':'홍길동', 'year' : 2000, 'month' : 1, 'day' : 1},
                {'name':'홍길동', 'year' : 1998, 'month' : 12, 'day' : 31'}]를 바꿉니다
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1998-12-31'}]

In [83]:
member2 = [{'name':'홍길동', 'year' : 2000, 'month' : 1, 'day' : 1},
            {'name':'신길동', 'year' : 1998, 'month' : 12, 'day' : 31}]

In [42]:
def split_date(date):
    split_date = date.split('-')
#     print(split_date[0], split_date('-')[1], split_date[2])
    return {'year' : int(split_date[0]),
           'month' : int(split_date[1]),
           'day' : int(split_date[2])}

In [43]:
split_date('2000-01-01')

{'year': 2000, 'month': 1, 'day': 1}

In [50]:
def momber_func(momber): # {'name':'홍길동', 'birth':'2000-01-01'}
    "{'name':'홍길동', 'year' : 1998, 'month' : 12, 'day' : 31'}식으로  return"
    return {
        'name' : member.get('name'),
        'year' : int(member['birth'].split('_')[0]),
        'month' : int(member['birth'].split('_')[1]),
        'day' : int(member['day'].split('_')[2])}
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [58]:
def member_func(member): # {'name':'홍길동', 'birth':'2000-01-01'}
    "{'name':'신길동', 'year':1998, 'month':12, 'day':31}식으로 return"
    return {
        'name':member.get('name'),
        'year':int(member['birth'].split('-')[0]),
        'month':int(member['birth'].split('-')[1]),
        'day':int(member['birth'].split('-')[2]),
    }
member_func(member1[0]), member_func(member1[1])

({'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31})

In [57]:
member2 = list(map(lambda member : {
                        'name':member.get('name'),
                        'year':int(member['birth'].split('-')[0]),
                        'month':int(member['birth'].split('-')[1]),
                        'day':int(member['birth'].split('-')[2])},member1))
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [ ]:
'예3. members2를 members1로 바꿉니다'

In [ ]:
member2 = list(map(lambda member : {}))

In [71]:
def join_date(date):
   # print ([date.get('year'), date.get('month'), date.get('day')])
    year = str(date.get('year'))
    month= date.get('month')
    if month < 10:
        month = '0'+str(month)
    else:
        month = str(month)
    day = date.get('day')
    if day < 10:
        day = '0'+str(day)
    else:
        day = str(day)
    return '-'.join([year,month,day])

In [72]:
join_date({'year' : 2000, 'month' : 1, 'day' : 1})

'2000-01-01'

In [69]:
def join_date(date):
    print("{}-{}-{}".format(date.get('year'), 
                                date.get('month'),
                                date.get('day')))

In [70]:
join_date({'year' : 2000, 'month' : 1, 'day' : 1})

2000-1-1

In [67]:
def join_date(data):
    print("{}-{:02}-{:02}".format(data.get('year'), 
                                  data.get('month'), 
                                  data.get('day')))

In [68]:
join_date({'year': 2000, 'month': 1, 'day': 1})

2000-01-01

In [ ]:
def join_date(date):
    print("{year}-{month:02}-{day:02}".format(
                                    year =  date.get('year'),  
                                    month = date.get('month'),
                                    day = date.get('day')))

In [16]:
def join_date(date):
    return("{year}-{month:02}-{day:02}".format(**date))

In [19]:
join_date({'year': 2000, 'month': 1, 'day': 1})

'2000-01-01'

In [82]:
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '홍길동', 'year': 1998, 'month': 12, 'day': 31}]

In [84]:
# {'name':'홍길동', 'year' : 2000, 'month' : 1, 'day' : 1} 
# {'name':'홍길동', 'birth':'2000-01-01'}으로 가공
list(map(lambda member : {
                        'name' : member.get('name'),
                        'birth' : '{year}-{month:02}-{day:02}'.format(**member)
                        },member2
                        ))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter
- map : [1,2,3,4,5] => [2,4,6,8,10] (백터의 모든 데이터를 가공)
- filter : [1,2,3,4,5] => [2,4] (원하는 정보를 추출)
* cf. 리스트 커프리헨션

In [12]:
# [1, 2, 3, 4, 5]
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [13]:
def evenChk(value):
    return value%2==0
evenChk(10), evenChk(9)

(True, False)

In [14]:
list_date = [1, 2, 3, 4, 5]
filter_template(lambda value : value%2==0 , list_date )

[2, 4]

In [89]:
list(filter(lambda value : value%2==0 , list_date ))

[2, 4]

In [90]:
[date for date in list_date if date%2==0]

[2, 4]

### (3) sort

In [11]:
p = [9, 2, 7]
p.sort()
p

[2, 7, 9]

In [10]:
# 무조건 0번 item 기준으로 정렬
number2d = [[9, 9], [1, 100], [10, 1]]
number2d.sort()
number2d

[[1, 100], [9, 9], [10, 1]]

In [28]:
# 무조건 0번 item기준으로 정렬
number2d = [[9, 9, 9, 9, 9, 9],
            [1, 100],
            [10, 1]]
number2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬
number2d

[[9, 9, 9, 9, 9, 9], [1, 100], [10, 1]]

In [26]:
# 리스트를 매개변수로 받아 합을 retrue
(lambda item : sum(item))([1, 2, 3])

6

In [25]:
# 합이 큰 순으로 정렬
number2d.sort(key=lambda item : sum(item), reverse=True)
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [22]:
# 무조건 0번째 item기준으로 정렬
pairs = [(2, 'two'), (1, 'one'), (4, 'four'),(3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [23]:
# 1번째 item 기준으로 정렬(abc순)
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [41]:
students = [{'name':'홍길동', 'score':90},
           {'name':'김길동', 'score':50},
           {'name':'윤길동', 'score':99},
           {'score':100}]

In [43]:
# 이름순으로 정렬(ㄱㄴㄷ순)
students.sort(key=lambda student : student.get('name', '힣'))
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [44]:
# score 순으로 정렬(내림차순정렬)
students.sort(key=lambda item : item.get('score', 0), reverse=True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [102]:
# 책제목순 정렬(ㄱㄴㄷ순), 저자순(ㄱㄴㄷ순), 가격순 정렬
books = [
    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},
    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'},
    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},
    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price': 900},
    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}
]

In [60]:
books.sort(key = lambda book : book.get('title'))
books

[{'np': 6, 'title': '가격이 없음', 'writer': '오스틀'},
 {'np': 5, 'title': '가격이숫자', 'writer': '김길동', 'price': 900},
 {'np': 4, 'title': '가격이잘못', 'writer': '신길동', 'price': '-'},
 {'np': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'np': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'np': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'}]

In [61]:
books.sort(key = lambda book : book.get('writer'))
books

[{'np': 5, 'title': '가격이숫자', 'writer': '김길동', 'price': 900},
 {'np': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'np': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
 {'np': 4, 'title': '가격이잘못', 'writer': '신길동', 'price': '-'},
 {'np': 6, 'title': '가격이 없음', 'writer': '오스틀'},
 {'np': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}]

In [100]:
# '14,000' -> 14000 / 800 -> 800 / '-' -> 0
def parse_int(price):
    # print(type(price))
    if (isinstance(price, str)) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price

In [101]:
parse_int('800')

800

In [110]:
def parse_int(price):
    #print(type(price))
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',', ''))
    elif isinstance(price, int):
        return price
    else:
        return 0

In [111]:
parse_int('800'), parse_int('80,000'), parse_int('-')

(800, 80000, 0)

In [108]:
# {'np':6, 'title': '가격이 없음', 'writer':'오스틀'} => 0
# {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'} => 14220
# {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900} => 900
def parse_int(book):
    if isinstance(book.get('price'), str) and \
            book.get('price').replace(',','').isdigit():
        return int(book.get('price').replace(',',''))
    elif isinstance(book.get('price'), int):
        return book.get(price)
    else:
        return 0
parse_int(book[0]), parse_int(book[3]), parse_int(book[2]), parse_int(book[5])

(25200, 0, 14220, 0)

In [116]:
copy_book = book.copy()

In [126]:
copy_book.sort(key = lambda book : int(book.get('price').replace(',','')) \
               if isinstance(book.get('price'), str) \
               and book.get('price').replace(',','').isdigit() \
               else book.get('price') if isinstance(book.get('price'), int) \
               else 0)

In [127]:
copy_book

[{'np': 4, 'title': '가격이잘못', 'writer': '신길동', 'price': '-'},
 {'np': 6, 'title': '가격이 없음', 'writer': '오스틀'},
 {'np': 5, 'title': '가격이숫자', 'writer': '김길동', 'price': 900},
 {'np': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'np': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'np': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}]

In [124]:
copy_book.sort(key = lambda book : int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) \
                    and book.get('price').replace(',','').isdigit() \
                    else book.get('price') if isinstance(book.get('price'), int) else \
                0                
               )

In [125]:
copy_book

[{'np': 4, 'title': '가격이잘못', 'writer': '신길동', 'price': '-'},
 {'np': 6, 'title': '가격이 없음', 'writer': '오스틀'},
 {'np': 5, 'title': '가격이숫자', 'writer': '김길동', 'price': 900},
 {'np': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'np': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'np': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}]

In [114]:
books

[{'np': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'np': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'np': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
 {'np': 4, 'title': '가격이잘못', 'writer': '신길동', 'price': '-'},
 {'np': 5, 'title': '가격이숫자', 'writer': '김길동', 'price': 900},
 {'np': 6, 'title': '가격이 없음', 'writer': '오스틀'}]

In [112]:
books = [
    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},
    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'},
    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},
    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price': 900},
    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}
]
copy_book = book.copy()

## 4.3 return 문에 람다식 이용

In [120]:
# 함수를 return
def make_box(shape): # shape : [L] =>len 가 L 인 list 를 생성하는 함수 return,
                     #         [r,c] => r행 c열인 2차원 list를 생성하는 함수 return,
                     #         [d,r,c] => d면 r행 c열 3차원 list를 생성하는 함수 return
    def box(init_value):
        if len(shape)==1:
            return [init_value]*shape[0]
        elif len(shape)==2:
            return [ [init_value]*shape[1] ] * shape[0]
    return box

In [121]:
lien_func = make_box([2,3])
lien_func(3)

[[3, 3, 3], [3, 3, 3]]

In [122]:
lien_func1 = make_box([10])
lien_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [130]:
def make_bax(shape):
    if len(shape)==1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape)==2:
        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]

In [140]:
line_func = make_box([2,3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

# 5절. 파이썬 내장 함수
- import 하지 안고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [132]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'def evenChk(value):\n    return value%2==0\nevenChk(10), evenChk(9)',
  'list_date = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0 , list_date )',
  "# [1, 2, 3, 4, 5]\ndef filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(''):\n            result.append(l)\n    return result",
  "# [1, 2, 3, 4, 5]\ndef filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(' '):\n            result.append(l)\n    return result",
  'def evenChk(value):\n    return value%2==0\nevenChk(10), evenChk(9)',
  'list_date = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0 , list_date )',
  'p = [9, 2, 7]\np.sort',
  'p = [9, 2, 7]\np.sort\np',
  'p = [9, 2, 7]\np.sort\np',
  'number2d = [[9, 9], [1, 100], [10, 1]]\nnumber2d.sort()\nnumber2d',
  'p = [9, 2, 7]\np.sort()\np',
  '# [1, 2, 3, 4, 5]\ndef filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(l)\n    return result',
  'def evenChk(value):\n    return value%2==0\nevenChk(10), evenChk(9)',
  'list_date = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0 , list_date )',
  "join_date({'year': 2000, 'month': 11, 'day': 1})",
  'def join_date(date):\n    return("{year}-{month:02}-{day:02}".format(**date))',
  "join_date({'year': 2000, 'month': 11, 'day': 1})",
  "join_date({'year': 2000, 'month': 91, 'day': 1})",
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  "pairs = [(2, 'two'), (, 'one'), (4, 'four'),(3, 'three')]\npairs.sort()\npairs",
  "pairs = [(2, 'two'), (1, 'one'), (4, 'four'),(3, 'three')]\npairs.sort()\npairs",
  "pairs = [(2, 'two'), (1, 'one'), (4, 'four'),(3, 'three')]\npairs.sort()\npairs",
  '# 1번째 item 기준으로 정렬(abc순)\npairs.sort(key=lambda pair : pair[1])\npairs',
  '# 무조건 0번 item기준으로 정렬\nnumber2d = [[9, 9, 9, 9, 9, 9],\n            [1, 100],\n            [10, 1]]\nnumber2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬\nnumber2d',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key=lambda item : sum(item), reverse=True)\nnumber2d',
  '# 리스트를 매개변수로 받아 합을 retrue\n(lambda item : sum(item))([1, 2, 3])',
  '# 무조건 0번 item기준으로 정렬\nnumber2d = [[9, 9, 9, 9, 9, 9],\n            [1, 100],\n            [10, 1]]\nnumber2d.sort(key=lambda date : max(date), reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬\nnumber2d',
  '# 무조건 0번 item기준으로 정렬\nnumber2d = [[9, 9, 9, 9, 9, 9],\n            [1, 100],\n            [10, 1]]\nnumber2d.sort(key=lambda date : min(date), reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬\nnumber2d',
  "students = [{'name':'홍길동', 'score':90},\n           {'name':'김길동', 'score':50},\n           {'name':'윤길동', 'score':99},]",
  'students.sort()\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda item : students.get(name))\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda item : item{students.get(name)})\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=students.get(name))\nstudents',
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=students.get('name'))\nstudents",
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda name : students.get(name))\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda name : students.get[name])\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=students.get[name])\nstudents',
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=students.get['name'])\nstudents",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda student : student.get['name'])\nstudents",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda student : student.get('name'))\nstudents",
  "students = [{'name':'홍길동', 'score':90},\n           {'name':'김길동', 'score':50},\n           {'name':'윤길동', 'score':99},\n           {'score':100}]",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda student : student.get('name'))\nstudents",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda student : student.get('name', '힣'))\nstudents",
  "# score 순으로 정렬(내림차순정렬)\nstudents.sort(key=lambda item : item.get('score', 0), reverse=True)\nstudents",
  "students = [\n    {'name': '홍길동', 'score': 90},\n    {'name': '김길동', 'score': 50},\n    {'name': '윤길동', 'score': 99}\n]\n\nstudents.sort(key=lambda student: student['name'])\nprint(students)",
  "students = [\n    {'name': '홍길동', 'score': 90},\n    {'name': '김길동', 'score': 50},\n    {'name': '윤길동', 'score': 99}\n]\n\nstudents.sort(key=lambda student: student['name'], end='/n')\nprint(students)",
  "students = [\n    {'name': '홍길동', 'score': 90},\n    {'name': '김길동', 'score': 50},\n    {'name': '윤길동', 'score': 99}\n]\n\nstudents.sort(key=lambda student: student['name'] end='/n')\nprint(students)",
  "students = [\n    {'name': '홍길동', 'score': 90},\n    {'name': '김길동', 'score': 50},\n    {'name': '윤길동', 'score': 99}\n]\n\nstudents.sort(key=lambda student: student['name'])\nprint(students end='\\n')",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순(ㄱㄴㄷ순), 가격순 정렬\nbook = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]",
  'bools.sort(key = lambda book : book.get(title))\nbook',
  'books.sort(key = lambda book : book.get(title))\nbooks',
  'books.sort(key = lambda book : books.get(title))\nbooks',
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순(ㄱㄴㄷ순), 가격순 정렬\nbook = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순(ㄱㄴㄷ순), 가격순 정렬\nbooks = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "books.sort(key = lambda book : book.get('writer'))\nbooks",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순(ㄱㄴㄷ순), 가격순 정렬\nbooks = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "books.sort(key = lambda book : book.get('writer'))\nbooks",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    print(type(price))",
  'parse_int(800)',
  'parse_int(18,555)',
  "parse_int('800')",
  "parse_int('-')",
  'parse_int(800)',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, int):\n        return price",
  'parse_int(800)',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  'parse_int(8000)',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  'parse_int(8000)',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  'parse_int(800)',
  "parse_int('800')",
  "def parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0",
  "parse_int('800')",
  "def parse_int(price):\n    #print(type(price))\n    if price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "parse_int('800')",
  "def parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0",
  "def parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "def parse_int(price):\n    #print(type(price))\n    if (isinstance(price, str)) and price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if (isinstance(price, str)) and price.replace(',','').isdigit():\n        return int(price.replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if (isinstance(price, str)) and price.replace(',','').isdigit():\n        return int(price.replace(',',''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순(ㄱㄴㄷ순), 가격순 정렬\nbooks = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price': 900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]",
  "parse_int('800'), parse_int('80,000'), parse_int('-')",
  "# {'np':6, 'title': '가격이 없음', 'writer':'오스틀'} => 0\n# {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'} => 14220\n# {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900} => 900\ndef parse_int(book):\n    if isinstance(book.get(price), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int(book.get('price'),replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get(price)\n    else:\n        return 0",
  "# {'np':6, 'title': '가격이 없음', 'writer':'오스틀'} => 0\n# {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'} => 14220\n# {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900} => 900\ndef parse_int(book):\n    if isinstance(book.get(price), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int(book.get('price'),replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get(price)\n    else:\n        return 0\nparse_int(book[0])",
  "# {'np':6, 'title': '가격이 없음', 'writer':'오스틀'} => 0\n# {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'} => 14220\n# {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int(book.get('price'),replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get(price)\n    else:\n        return 0\nparse_int(book[0])",
  "# {'np':6, 'title': '가격이 없음', 'writer':'오스틀'} => 0\n# {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'} => 14220\n# {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int(book.get('price').replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get(price)\n    else:\n        return 0\nparse_int(book[0])",
  "# {'np':6, 'title': '가격이 없음', 'writer':'오스틀'} => 0\n# {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'} => 14220\n# {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int(book.get('price').replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get(price)\n    else:\n        return 0\nparse_int(book[0]), parse_int(book[3]), parse_int(book[2]), parse_int(book[5])",
  "parse_int('800'), parse_int('80,000'), parse_int('-')",
  "def parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0",
  "parse_int('800'), parse_int('80,000'), parse_int('-')",
  "books = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price': 900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]\ncopy_book = book.copy()",
  'copy_book',
  'books',
  "copy_book.sort(key = lambda book : int(book.get('price'),replace(',','')) \\\n               if isinstance(book.get('price'), ,str) \\\n               and book.get('price').replace(',','').isdigit() \\\n               else book.get('price') if isinstance(book.get('price'), int) \\\n               else 0)",
  'copy_book = book.copy()',
  "copy_book.sort(key = lambda book : int(book.get('price'),replace(',','')) \\\n               if isinstance(book.get('price'), ,str) \\\n               and book.get('price').replace(',','').isdigit() \\\n               else book.get('price') if isinstance(book.get('price'), int) \\\n               else 0)",
  "copy_book.sort(key = lambda book : int(book.get('price'),replace(',','')) \\\n               if isinstance(book.get('price'), str) \\\n               and book.get('price').replace(',','').isdigit() \\\n               else book.get('price') if isinstance(book.get('price'), int) \\\n               else 0)",
  "copy_book.sort(key = lambda book : int(book.get('price').replace(',','')) \\\n               if isinstance(book.get('price'), str) \\\n               and book.get('price').replace(',','').isdigit() \\\n               else book.get('price') if isinstance(book.get('price'), int) \\\n               else 0)",
  '# 함수를 return\ndef make_box(shape): # shape : [L] =>len 가 L 인 list 를 생성하는 함수 return,\n                     #         [r,c] => r행 c열인 2차원 list를 생성하는 함수 return,\n                     #         [d,r,c] => d면 r행 c열 3차원 list를 생성하는 함수 return\n    def box(init_value):\n        if len(shape)==1:\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [ [init_value]*shape[1] ] * shape[0]\n    return box',
  'lien_func = make_box([2,3])\nlien_func(3)',
  'lien_func1 = make_box([10])\nlien_func1(3)',
  "copy_books.sort(key = lambda book : int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) \\\n                    and book.get('price').replace(',','').isdigit() \\\n                    else book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  "copy_book.sort(key = lambda book : int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) \\\n                    and book.get('price').replace(',','').isdigit() \\\n                    else book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  'copy_book',
  "copy_book.sort(key = lambda book : int(book.get('price').replace(',','')) \\\n               if isinstance(book.get('price'), str) \\\n               and book.get('price').replace(',','').isdigit() \\\n               else book.get('price') if isinstance(book.get('price'), int) \\\n               else 0)",
  'copy_book',
  'def make_bax(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value-]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value] ] * shape[0]',
  'def make_bax(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value-]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]',
  'def make_bax(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]',
  'globals',
  'globals()'],
 '_oh': {1: (True, False),
  5: (True, False),
  7: <function list.sort(*, key=None, reverse=False)>,
  8: [9, 2, 7],
  9: [9, 2, 7],
  10: [[1, 100], [9, 9], [10, 1]],
  11: [2, 7, 9],
  13: (True, False),
  14: [2, 4],
  17: '2000-11-01',
  18: '2000-91-01',
  19: '2000-01-01',
  21: [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')],
  22: [(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')],
  23: [(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')],
  24: [[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]],
  25: [[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]],
  26: 6,
  27: [[1, 100], [10, 1], [9, 9, 9, 9, 9, 9]],
  28: [[9, 9, 9, 9, 9, 9], [1, 100], [10, 1]],
  40: [{'name': '김길동', 'score': 50},
   {'name': '윤길동', 'score': 99},
   {'name': '홍길동', 'score': 90}],

In [133]:
locals() # 지역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'def evenChk(value):\n    return value%2==0\nevenChk(10), evenChk(9)',
  'list_date = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0 , list_date )',
  "# [1, 2, 3, 4, 5]\ndef filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(''):\n            result.append(l)\n    return result",
  "# [1, 2, 3, 4, 5]\ndef filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(' '):\n            result.append(l)\n    return result",
  'def evenChk(value):\n    return value%2==0\nevenChk(10), evenChk(9)',
  'list_date = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0 , list_date )',
  'p = [9, 2, 7]\np.sort',
  'p = [9, 2, 7]\np.sort\np',
  'p = [9, 2, 7]\np.sort\np',
  'number2d = [[9, 9], [1, 100], [10, 1]]\nnumber2d.sort()\nnumber2d',
  'p = [9, 2, 7]\np.sort()\np',
  '# [1, 2, 3, 4, 5]\ndef filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(l)\n    return result',
  'def evenChk(value):\n    return value%2==0\nevenChk(10), evenChk(9)',
  'list_date = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0 , list_date )',
  "join_date({'year': 2000, 'month': 11, 'day': 1})",
  'def join_date(date):\n    return("{year}-{month:02}-{day:02}".format(**date))',
  "join_date({'year': 2000, 'month': 11, 'day': 1})",
  "join_date({'year': 2000, 'month': 91, 'day': 1})",
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  "pairs = [(2, 'two'), (, 'one'), (4, 'four'),(3, 'three')]\npairs.sort()\npairs",
  "pairs = [(2, 'two'), (1, 'one'), (4, 'four'),(3, 'three')]\npairs.sort()\npairs",
  "pairs = [(2, 'two'), (1, 'one'), (4, 'four'),(3, 'three')]\npairs.sort()\npairs",
  '# 1번째 item 기준으로 정렬(abc순)\npairs.sort(key=lambda pair : pair[1])\npairs',
  '# 무조건 0번 item기준으로 정렬\nnumber2d = [[9, 9, 9, 9, 9, 9],\n            [1, 100],\n            [10, 1]]\nnumber2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬\nnumber2d',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key=lambda item : sum(item), reverse=True)\nnumber2d',
  '# 리스트를 매개변수로 받아 합을 retrue\n(lambda item : sum(item))([1, 2, 3])',
  '# 무조건 0번 item기준으로 정렬\nnumber2d = [[9, 9, 9, 9, 9, 9],\n            [1, 100],\n            [10, 1]]\nnumber2d.sort(key=lambda date : max(date), reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬\nnumber2d',
  '# 무조건 0번 item기준으로 정렬\nnumber2d = [[9, 9, 9, 9, 9, 9],\n            [1, 100],\n            [10, 1]]\nnumber2d.sort(key=lambda date : min(date), reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬\nnumber2d',
  "students = [{'name':'홍길동', 'score':90},\n           {'name':'김길동', 'score':50},\n           {'name':'윤길동', 'score':99},]",
  'students.sort()\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda item : students.get(name))\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda item : item{students.get(name)})\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=students.get(name))\nstudents',
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=students.get('name'))\nstudents",
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda name : students.get(name))\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda name : students.get[name])\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=students.get[name])\nstudents',
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=students.get['name'])\nstudents",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda student : student.get['name'])\nstudents",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda student : student.get('name'))\nstudents",
  "students = [{'name':'홍길동', 'score':90},\n           {'name':'김길동', 'score':50},\n           {'name':'윤길동', 'score':99},\n           {'score':100}]",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda student : student.get('name'))\nstudents",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key=lambda student : student.get('name', '힣'))\nstudents",
  "# score 순으로 정렬(내림차순정렬)\nstudents.sort(key=lambda item : item.get('score', 0), reverse=True)\nstudents",
  "students = [\n    {'name': '홍길동', 'score': 90},\n    {'name': '김길동', 'score': 50},\n    {'name': '윤길동', 'score': 99}\n]\n\nstudents.sort(key=lambda student: student['name'])\nprint(students)",
  "students = [\n    {'name': '홍길동', 'score': 90},\n    {'name': '김길동', 'score': 50},\n    {'name': '윤길동', 'score': 99}\n]\n\nstudents.sort(key=lambda student: student['name'], end='/n')\nprint(students)",
  "students = [\n    {'name': '홍길동', 'score': 90},\n    {'name': '김길동', 'score': 50},\n    {'name': '윤길동', 'score': 99}\n]\n\nstudents.sort(key=lambda student: student['name'] end='/n')\nprint(students)",
  "students = [\n    {'name': '홍길동', 'score': 90},\n    {'name': '김길동', 'score': 50},\n    {'name': '윤길동', 'score': 99}\n]\n\nstudents.sort(key=lambda student: student['name'])\nprint(students end='\\n')",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순(ㄱㄴㄷ순), 가격순 정렬\nbook = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]",
  'bools.sort(key = lambda book : book.get(title))\nbook',
  'books.sort(key = lambda book : book.get(title))\nbooks',
  'books.sort(key = lambda book : books.get(title))\nbooks',
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순(ㄱㄴㄷ순), 가격순 정렬\nbook = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순(ㄱㄴㄷ순), 가격순 정렬\nbooks = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "books.sort(key = lambda book : book.get('writer'))\nbooks",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순(ㄱㄴㄷ순), 가격순 정렬\nbooks = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "books.sort(key = lambda book : book.get('writer'))\nbooks",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    print(type(price))",
  'parse_int(800)',
  'parse_int(18,555)',
  "parse_int('800')",
  "parse_int('-')",
  'parse_int(800)',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, int):\n        return price",
  'parse_int(800)',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  'parse_int(8000)',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  'parse_int(8000)',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  'parse_int(800)',
  "parse_int('800')",
  "def parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0",
  "parse_int('800')",
  "def parse_int(price):\n    #print(type(price))\n    if price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price,replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "parse_int('800')",
  "def parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0",
  "def parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "def parse_int(price):\n    #print(type(price))\n    if (isinstance(price, str)) and price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if (isinstance(price, str)) and price.replace(',','').isdigit():\n        return int(price.replace(','''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    # print(type(price))\n    if (isinstance(price, str)) and price.replace(',','').isdigit():\n        return int(price.replace(',',''))\n    elif isinstance(price, int):\n        return price",
  "parse_int('800')",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순(ㄱㄴㄷ순), 가격순 정렬\nbooks = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price': 900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]",
  "parse_int('800'), parse_int('80,000'), parse_int('-')",
  "# {'np':6, 'title': '가격이 없음', 'writer':'오스틀'} => 0\n# {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'} => 14220\n# {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900} => 900\ndef parse_int(book):\n    if isinstance(book.get(price), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int(book.get('price'),replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get(price)\n    else:\n        return 0",
  "# {'np':6, 'title': '가격이 없음', 'writer':'오스틀'} => 0\n# {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'} => 14220\n# {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900} => 900\ndef parse_int(book):\n    if isinstance(book.get(price), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int(book.get('price'),replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get(price)\n    else:\n        return 0\nparse_int(book[0])",
  "# {'np':6, 'title': '가격이 없음', 'writer':'오스틀'} => 0\n# {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'} => 14220\n# {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int(book.get('price'),replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get(price)\n    else:\n        return 0\nparse_int(book[0])",
  "# {'np':6, 'title': '가격이 없음', 'writer':'오스틀'} => 0\n# {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'} => 14220\n# {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int(book.get('price').replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get(price)\n    else:\n        return 0\nparse_int(book[0])",
  "# {'np':6, 'title': '가격이 없음', 'writer':'오스틀'} => 0\n# {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'} => 14220\n# {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price':900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int(book.get('price').replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get(price)\n    else:\n        return 0\nparse_int(book[0]), parse_int(book[3]), parse_int(book[2]), parse_int(book[5])",
  "parse_int('800'), parse_int('80,000'), parse_int('-')",
  "def parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0",
  "parse_int('800'), parse_int('80,000'), parse_int('-')",
  "books = [\n    {'np':1, 'title': '강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'np':2, 'title': '단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'np':3, 'title': '흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'np':4, 'title': '가격이잘못', 'writer':'신길동', 'price':'-'},\n    {'np':5, 'title': '가격이숫자', 'writer':'김길동', 'price': 900},\n    {'np':6, 'title': '가격이 없음', 'writer':'오스틀'}\n]\ncopy_book = book.copy()",
  'copy_book',
  'books',
  "copy_book.sort(key = lambda book : int(book.get('price'),replace(',','')) \\\n               if isinstance(book.get('price'), ,str) \\\n               and book.get('price').replace(',','').isdigit() \\\n               else book.get('price') if isinstance(book.get('price'), int) \\\n               else 0)",
  'copy_book = book.copy()',
  "copy_book.sort(key = lambda book : int(book.get('price'),replace(',','')) \\\n               if isinstance(book.get('price'), ,str) \\\n               and book.get('price').replace(',','').isdigit() \\\n               else book.get('price') if isinstance(book.get('price'), int) \\\n               else 0)",
  "copy_book.sort(key = lambda book : int(book.get('price'),replace(',','')) \\\n               if isinstance(book.get('price'), str) \\\n               and book.get('price').replace(',','').isdigit() \\\n               else book.get('price') if isinstance(book.get('price'), int) \\\n               else 0)",
  "copy_book.sort(key = lambda book : int(book.get('price').replace(',','')) \\\n               if isinstance(book.get('price'), str) \\\n               and book.get('price').replace(',','').isdigit() \\\n               else book.get('price') if isinstance(book.get('price'), int) \\\n               else 0)",
  '# 함수를 return\ndef make_box(shape): # shape : [L] =>len 가 L 인 list 를 생성하는 함수 return,\n                     #         [r,c] => r행 c열인 2차원 list를 생성하는 함수 return,\n                     #         [d,r,c] => d면 r행 c열 3차원 list를 생성하는 함수 return\n    def box(init_value):\n        if len(shape)==1:\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [ [init_value]*shape[1] ] * shape[0]\n    return box',
  'lien_func = make_box([2,3])\nlien_func(3)',
  'lien_func1 = make_box([10])\nlien_func1(3)',
  "copy_books.sort(key = lambda book : int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) \\\n                    and book.get('price').replace(',','').isdigit() \\\n                    else book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  "copy_book.sort(key = lambda book : int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) \\\n                    and book.get('price').replace(',','').isdigit() \\\n                    else book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  'copy_book',
  "copy_book.sort(key = lambda book : int(book.get('price').replace(',','')) \\\n               if isinstance(book.get('price'), str) \\\n               and book.get('price').replace(',','').isdigit() \\\n               else book.get('price') if isinstance(book.get('price'), int) \\\n               else 0)",
  'copy_book',
  'def make_bax(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value-]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value] ] * shape[0]',
  'def make_bax(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value-]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]',
  'def make_bax(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]',
  'globals',
  'globals()',
  'locals()'],
 '_oh': {1: (True, False),
  5: (True, False),
  7: <function list.sort(*, key=None, reverse=False)>,
  8: [9, 2, 7],
  9: [9, 2, 7],
  10: [[1, 100], [9, 9], [10, 1]],
  11: [2, 7, 9],
  13: (True, False),
  14: [2, 4],
  17: '2000-11-01',
  18: '2000-91-01',
  19: '2000-01-01',
  21: [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')],
  22: [(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')],
  23: [(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')],
  24: [[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]],
  25: [[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]],
  26: 6,
  27: [[1, 100], [10, 1], [9, 9, 9, 9, 9, 9]],
  28: [[9, 9, 9, 9, 9, 9], [1, 100], [10, 1]],
  40: [{'name': '김길동', 'score': 50},
   {'name': '윤길동', 'score': 99},
   {'name': '홍길동', 'score': 90}],

In [134]:
all([True, True, True, False]) # 전부 True인지 여부

False

In [135]:
round(3.5) # 반올림

4

In [139]:
import numpy as np # numpy 모듈을 np라는 이름이로 load
np.round(3.5), np.ceil(3.2), np.floor(3.2)# 반올림, 올림, 내림

(4.0, 4.0, 3.0)

### 연습문제

In [143]:
def get_max_min(data_list):
    return max(data_list), min(data_list)
get_max_min([1, 2, 10 , 4, 80 ,50 ,99])

(99, 1)

In [218]:
get_max_min = lambda data_list : (max(data_list), min(data_list))
get_max_min([1,2,3,4,5,6,])

(6, 1)

In [224]:
def BMI(kg, m):
    a = kg / (m**2)
    if 0<a<18.5:
        print('마른체형')
    elif 18.5<=a<25:
        print('표준체형')
    elif 25<=a<30:
        print('비만')
    elif a>=30:
        print('고도비만')
    else:
        print('잘 못 되었음')

In [225]:
BMI(60, 1.75)

표준체형

In [200]:
BMI = lambda kg, m : '마른체형' if 0<kg / (m**2) < 18.5 else \
                    '표준' if 18.5<=kg / (m**2)<25 else \
                    '비만' if 25<=kg / (m**2)<30 else \
                    '고도비만'if kg / (m**2)>=30 else \
                    '다시 입력해주세요'
BMI(70, 1.83)

'표준'

In [ ]:
def get_triangle(width, height):

In [ ]:
# 실습형 3. 직각삼각형의 width, height로 area, perimeter(둘레)를 return
import math
def get_triangle(width, height):
    area = width * height * 0.5
    perimeter = width + height + math.sqrt(width*width + height*height)
    return {'넓이':area, '둘레':perimeter}
 # math 모듈을 사용하라고 하지만 구현능력을 위해 하드코딩이라고 함(훈련생 曰)
get_triangle_lambda = lambda width, height : {
        '넓이':width * height * 0.5,
        '둘레':width + height + (width*width + height*height)**0.5
}
get_triangle(3,4)

In [ ]:
# cf. 제곱근을 구하는 함수
import math
math.sqrt(25)

In [ ]:
def mysum(from_, end):
    print(from_, end)
    tot = 0
    for nu

In [ ]:
# 실습형 4.fRom부터 end까지 모든 정수의 합 리턴 (변수명으로 from은 못 오고 frOm으로 함)
def mysum(fRom, end):
    sum = 0
    for i in range(fRom, end+1):
        sum += i
    return sum
mysum2 = lambda fRom, end : sum(range(fRom, end+1))
print(mysum(10, 12)) #일반함수 이용 10+11+12
print(mysum2(10, 12))

In [ ]:
def add(*arge):
    if

In [169]:
def get_abbrs(lst):
    return get_abbrs[:3:]
get_abbrs['Seoul', 'Daegu', 'Kwangju', 'Jeju']

TypeError: 'function' object is not subscriptable

In [ ]:
# 실습형 5. 문자열 리스트가 입력될 때 첫 세글자로만 구성된 리스트 return
test = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']
def get_abbrs(lst):
    return [x[:3] for x in lst]

print(get_abbrs(test)) # 일반 함수 이용
print((lambda l : [x[:3] for x in l])(test)) #람다식 이용

In [170]:
f = lambda x, y : x ** y

In [171]:
f(2, 3)

8

In [174]:
data= [1,2,3,4,5]
list(map(lambda x : x**2, data))

[1, 4, 9, 16, 25]

In [201]:
lst=[lst for lst in data**2] ## 실습형 7. 리스트컴프리헨션 이용 
                             #[x**2 for x in data]

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [203]:
pairs = [(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')]
pairs.sort(key = lambda pair : pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [217]:
a = [1, 2, 3]
print(*a) # 튜플로 출력
a = [1, 2, 3]
print(a) # 리스트로 출력

1 2 3
[1, 2, 3]

In [215]:
# 실습형 8.
a = [1,2,3]
print(*a)
print(a)
answer="""
별표(asterisk, *)는 함수의 인자(argument)로 사용될 때, 
시퀀스형 자료형의 각각의 값(element)을 하나의 값(element)으로 넣어주게 된다(언패킹)
그러므로 print(*a)의 의미는 사실 print(a[0], a[1], a[2])으로 나타나게 된다.
"""

[1, 2, 3]

In [216]:
date_info = {'year':2004, 'month':9, 'day':6}
result = '{year}-{month}-{day}'.format(**date_info)
result

'2004-9-6'

In [6]:
# 실습형 9.
date_info = {'year':'2019', 'month':9, 'day':16}
result = "{year}-{month:02}-{day:02}".format(**date_info)
# result = "{year}-{month}-{day}".format(year='2019', month=9, day=6)
# '2024-09-06을 원하면'
#result = "{year}-{month:02}-{day:02}".format(**date_info)
result

'2019-09-16'

In [9]:
# 실습형 9.
date_info = {'year':'2019', 'month':'9', 'day':'6'}
result = "{year}-{month:>02}-{day:>02}".format(**date_info) #숫자가 문자로 입력시 처리 방법
# result = "{year}-{month}-{day}".format(year='2019', month=9, day=6)
# '2024-09-06을 원하면'
#result = "{year}-{month:02}-{day:02}".format(**date_info)
result

'2019-09-06'

In [11]:
# 실습형 10. 
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들을 return 하는 함수
def vector_size(*vector_var):
    result = []
    for vector in vector_var:
        result.append(len(vector))
    return result

def vector_size(*vector_var):
    return [len(vector) for vector in vector_var]

vector_size([10, 20], (100, 200), {'name':'홍', 'age':20}, {1, 2})

[2, 2, 2, 2]

In [12]:
# 원래 실습형 10. 
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들이 모두 같은지 여부 return : 셋 이용
# def vector_size_check(*vector_var):
#     result = set()
#     for vector in vector_var:
#         result.add(len(vector))
#     return len(result)==1
def vector_size_check(*vector_var):
    return len(set([len(vector) for vector in vector_var]))==1
vector_size_check([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})

True

In [13]:
vector_size_check([10, 20], (100,), {'name':'홍', 'age':20}, {1, 2})

False

In [22]:
# 원래 실습형 10. 
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들이 모두 같은지 여부 return : all이용
# def vector_size_check(*vector_var):
#     result = []
#     for vector in vector_var:
#         result.append(len(vector))
#     return all(result)
def vector_size_check(*vector_var):
    return all([len(vector) for vector in vector_var])
# vector_size_check([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})

In [25]:
vector_size_check([10, 20], (100,), {'name':'홍', 'age':20}, {1, 2})

True

In [205]:
a = 10
def sub():
    a += 1
    print(a, end='')
def func():
    for i in range(2):
        a = 5
        a += 1
        print(a, end='')
        sub()
a += 1
func(1)

TypeError: func() takes 0 positional arguments but 1 was given

In [211]:
var = 100
def func(var):
    var = 200
func(var)
print(var)

100

In [212]:
defmy_func(func, *args):
    return func(*args)
import numpyas np
my_func(np.add, 2, 3)

SyntaxError: invalid syntax (1571017427.py, line 1)

In [213]:
def my_func(func, *args):
    return func(*args)
my_func(lambda a, b : a**b, 3, 2)

9