In [2]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:98% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:20pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.text_cell_render.rendered_html{font-size:15pt;}
div.output {font-size:18pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:18pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:18pt;padding:5px;}
table.dataframe{font-size:18px;}
</style>
"""))

<font color="red" size="5">ch15. 데이터베이스 연동</font>
# 1절. SQLite 데이터 베이스 연동
- SQLite 데이터베이스는 별도의 DBMS없이 SQL을 이용하여 DB 엑세스 가능한 디스크 기반 DB
- SQLite는 프로토타입(시제품) 용도
- 프로젝트 단계 : 분석 - 설계 - 구현 - 테스트 - 고객에게 배포 - 유지보수
-                 SQLite    Oracle/MySql, MariaDB, ...
- C 라이브러리
- [db browser for sqlite](https://sqlitebrowser.org/)
## 1.1 SQLite 패키지 load

In [4]:
import sqlite3
sqlite3.sqlite_version

'3.40.1'

In [5]:
import pandas as pd
pd.__version__

'1.5.3'

## 1.2 데이터 베이스 연결

In [6]:
# DB 연결
conn = sqlite3.connect('data/ch15_exmple.db')
conn

In [7]:
# 커서객체(SQL문 실행->결과 조회) 생성
cursor = conn.cursor()
cursor

In [8]:
cursor.execute('''
    CREATE TABLE MEMBER(
        NAME TEXT,
        AGE  INT,
        EMAIL TEXT
    )
''')

### insert, update, delete 전송

In [9]:
cursor.execute('''
    INSERT INTO MEMBER VALUES ('홍길동', 20, 'h@h.com')
''')
print('수행 결과 행수 :', cursor.rowcount)

수행 결과 행수 : 1

In [12]:
sql = "INSERT INTO MEMBER VALUES ('김길동', 30, 'k@h.com')"
print(sql)
cursor.execute(sql)
print('수행 결과 행수 :', cursor.rowcount)

INSERT INTO MEMBER VALUES ('김길동', 30, 'k@h.com')
수행 결과 행수 : 1

In [13]:
conn.commit() # (반) conn.rollback() DML에서만 가능

### select 전송

In [14]:
cursor.execute('''
    SELECT NAME, AGE+1 NEXTAGE, EMAIL FROM MEMBER
''')

In [ ]:
# SELECT 전송
#   select 문 실행결과를 받는 함수
#    cursor.fetchone() : 결과를 한행씩 받을 때(튜플)
#    cursor.fetchall() : 결과를 모두 받을 때 (튜플 list)
#    cursor.fetchmany(n) : 결과를 n행 받을 때(튜플 list)
#    cursor.description : header 내용을 포함한 내용들

# INSERT, UPDATE, DELETE 전송 : cursor.rowcount